.grid {
    display: grid;
    grid-template-columns: 100px 100px;
    height: 100vh;
}

.item {
    display: grid;
    background-color: #c6d1e2;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
}

.card-wrapper {
    grid-column-start: 2;
}