.grid {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
}

.item {
    display: grid;
    background-color: #c6d1e2;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
}

.nav {
    grid-row: span 3;
}

.image-wrapper {
    grid-column-start: 2;
    grid-row-start: 1;
}